.contact{
    height: 50vh;
    display: flex;
    width: 100%;
    /* background-color: rgb(83, 68, 68); */
   
}
.contact-header{
    margin-top: 15vh;
    width: 100%;
   
}

.contact-form {
    width: 100%;
   display: flex;
   
    align-items: center;
    justify-content: center;
   

}
form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding: 1vw;
    text-align: left;
}
input{
    height: 4vh;
}
input::placeholder{
            
    font-weight: bold;

 }
 textarea::placeholder{
     
    font-weight: bold;
    
 }
label{
    font-size: x-large;
  font-weight: bold;
}
.submit{
    height: 5vh;
    background-color: rgb(160, 53, 187) !important;
  
}
@media screen and (max-width: 460px){
    .contact{
        flex-direction: column;
        height: 50vh !important;
    }
    .contact-header{
        margin-top: -5vh !important;
        width: 100%;
       
    }
   
    .contact-header h1{
        font-size: 8vw;
    }
    .contact-form {
        width: 100%;
       display: flex;
       
        align-items: center;
        justify-content: center;
       
    
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
        padding: 1vw;
        text-align: left;
    }
    input{
        height: 4vh;
    }
    label{
        font-size: x-large;
      font-weight: bold;
    }

    }
    @media screen and (max-width: 768px){
        .contact{
            flex-direction: column;
            height: 65vh;
        }
        .contact-header{
            margin-top: 5vh;
            width: 100%;
           
        }
       
        .contact-header h1{
            font-size: 12vw;
        }
        .contact-form {
            width: 100%;
           display: flex;
           
            align-items: center;
            justify-content: center;
           
        
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 100%;
            padding: 1vw;
            text-align: left;
        }
        input{
            height: 5vh;
        }
        label{
            font-size: 4vw;
          font-weight: bold;
        }
        
   
        }