.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;

   background-color: red;
}
.navbar a {
    font-size: x-large;
    font-weight: bold;
   
    color: black;
    text-decoration: none;
}